@import "../../styles/variables";
@import "../../styles/mixins";

.section {
  display: grid;
  justify-items: center;
}

.about__img {
  border-radius: 32% 68% 64% 36% / 44% 63% 37% 36%;
  width: 100%;
  max-width: 40em;
  animation: moveBorder 7s infinite ease-in-out alternate;
  margin-bottom: 1em;
  @keyframes moveBorder {
    50% {
      border-radius: 58% 42% 70% 30% / 43% 43% 57% 57%;
    }
    100% {
      border-radius: 45% 50% 31% 69% / 53% 43% 57% 48%;
    }
  }
}
.about__text {
  text-align: center;
  font-weight: 300;
  line-height: 1.8;
  margin-top: 1em;
  max-width: 50ch;
  a {
    color: $purple;
  }
}
.social {
  text-align: center;
  margin: 1em 0 0.5em 0;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 2em;
}

@include tablet() {
  .about__text {
    max-width: 70ch;
  }
}

@include desktop() {
  .section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-items: center;
    gap: 0 1em;
    .title {
      margin: 0;
      line-height: 1;
      align-self: center;
    }
    .about__img {
      grid-column: 2/3;
      grid-row: 2/5;
    }
    .about__text {
      grid-column: 1/2;
      margin: 0;
    }
    .social {
      grid-column: 2/3;
      grid-row: 5/6;
      margin: 0;
    }
  }
}
