@import "../../styles/variables";
@import "../../styles/mixins";
.project {
  background-color: $background-light;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto) 1fr;
  align-items: center;
  width: clamp(15rem,100%, 50rem);
  padding: .25rem 1rem 1rem;
  border-radius: 1.5rem;
  h2 {
    grid-column: 1/2;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    @include tablet {
      font-size: 1.5rem;
    }
  }
  p {
    grid-row: 2/3;
    font-size: 0.8rem;
  }
  a {
    grid-row: 1/2;
    grid-column: 2/3;
    color: $text-base;
    text-transform: lowercase;
    font-size: minmax(.9rem, 1.5vw, 1.2rem);
  }
  ul {
    grid-row: 3/4;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    li {
      padding: .25rem .5rem;
      border: 1px solid #fff;
      border-radius: .5rem;
    }
  }
}