$text-base: hsl(0, 0%, 93%);
$background: hsl(0, 0%, 3%);
$background-light: hsl(0, 0%, 10%);
$menu: hsl(0, 0%, 5%);
$menu-hover: hsl(0, 0%, 9%);
$accent: hsl(275, 40%, 48%);
$accent-dark: hsl(275, 40%, 18%);
$font: "Poppins", sans-serif;
