$white: hsl(0, 0%, 93%);
$background: hsl(0, 0%, 3%);
$menu: hsl(0, 0%, 5%);
$menu-hover: hsl(0, 0%, 9%);
$green: hsl(120, 81%, 55%);
$purple: hsl(275, 40%, 48%);
$dark-purple: hsl(275, 40%, 18%);
$button: hsl(0, 0%, 5%);
$skill: hsl(0, 0%, 10%);
$font: "Poppins", sans-serif;
