@import "../../styles/variables";
.home {
  padding-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    width: 10ch;
    margin-bottom: 1em;
    font-size: 3.2rem;
    text-align: center;
    line-height: 1.6em;
    color: $white;
  }
  &__cta {
    background-color: $dark-purple;
    color: $white;
    padding: 1em 2em;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: $purple;
      outline: $purple 1px solid;
    }
  }
}
