@import "../../styles/variables";
@import "../../styles/mixins";

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

.title {
  display: none;
}

