@import "../../styles/variables";
@import "../../styles/mixins";

.section {
  display: grid;
}

@include tablet() {
  .section {
    justify-content: center;
  }
}

@include desktop() {
  .section {
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .title {
    display: none;
  }
}
