@import "../../styles/variables";
@import "../../styles/mixins";

.section {
  h1 {
    font-size: clamp(1.2rem, 2vw, 2.5rem);
  }
  h2 {
    font-size: clamp(1rem, 1.5vw, 2rem);
    margin: 1rem;
    text-align: center;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    li {
      mix-blend-mode: difference;
      padding: .5rem;
      border-radius: .5rem;
      background-color: $background-light;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .5s;
      &:hover {
        transform: scale(1.2);
      }
      img {
        width: 7rem;
        object-fit: contain;
      }
    }
  }
}