@import "../../styles/variables";
@import "../../styles/mixins";
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $menu;
  z-index: 5;
  &__item {
    color: $white;
    padding: 2em 0;
    text-align: center;
    &:hover,
    &:focus {
      background-color: $menu-hover;
    }
  }
}

.logo {
  margin: 1em 0 0 1em;
  width: 3em;
  filter: brightness(90%);
}

.active li {
  background-color: $menu-hover;
  color: $purple;
  filter: brightness(150%);
}

@include tablet() {
  .menu__item {
    font-size: 1.2rem;
  }
  .logo {
    width: 4em;
  }
}

@include desktop() {
  .menu {
    position: initial;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    border-radius: 50px;
    &__item {
      padding: 2.5em 0.5em;
    }
    a:first-of-type &__item {
      border-radius: 50px 50px 0 0;
    }
    a:last-of-type &__item {
      border-radius: 0 0 50px 50px;
    }
  }
  .logo {
    width: 3em;
    position: absolute;
    top: -5em;
    left: 0.5em;
  }
}
